{% extends 'base.html' %}
{% load static %}

{% block title %}BizzFinderz - Retailer Debug{% endblock %}

{% block content %}
<div style="padding: 20px;">
  <h1>Retailer Debug Information</h1>
  
  <h2>Available Fields:</h2>
  <table border="1" cellpadding="5">
    <tr>
      <th>Field Name</th>
      <th>Value</th>
    </tr>
    {% for name in field_names %}
    <tr>
      <td>{{ name }}</td>
      <td>{{ field_values|get_item:name }}</td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}